
body {
    margin: 0;
    padding: 0;
}

#sctLogin {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

#sctLogin > div {
    width: 90%;
    height: 70%; 
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    justify-content: center;
}


#ctnLoginGen form {
    display: flex;
    flex-direction: column;
    width: 100%; 
    gap: 15px;
    justify-content: center;
}

#ctnLoginGen form button {
    margin: 20px auto 0 auto;
    background-color: #37AED3;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border-style: none;
    border-radius: 40px;
    padding: 12px; 
    width: 100%;
    cursor: pointer;
}

#sctLogin h1,
#sctLogin h2 {
    text-align: center;
}

#sctLogin h2 {
    color: rgb(128, 128, 128);
    font-weight: 400;
    margin-bottom: 0;
    font-size: 1rem;
}

.ctnInputLogin {
    position: relative;
}

.ctnInputLogin svg {
    position: absolute;
    height: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(10px);
}

.ctnInputLogin input {
    all: unset;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 0px 5px 40px;
    margin: 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
}


@media (min-width: 768px) and (max-width: 1023px) {
    #sctLogin > div {
        width: 60%;
        height: 60%;
        padding: 25px;
        gap: 20px;
    }
    
    #ctnLoginGen form {
        width: 70%;
    }
    
    #sctLogin h2 {
        font-size: 1.1rem;
    }
}


@media (min-width: 1024px) {
    #sctLogin > div {
        width: 40%;
        height: 45%;
        padding: 15px;
        gap: 20px;
    }
    
    #ctnLoginGen form {
        width: 50%;
    }
}
